<div class="px-8 pt-0 w-full justify-self-center flex items-center max-w-screen-lg mx-auto">
  <% if @latest_rolls.present? %>
    <%= form_with(model: Idea.new, class: "grid grid-cols-3 grid-rows-auto gap-12", data: { controller: "form", action: "keydown.right@window->form#submit keydown.left@window->form#submit keydown.up@window->form#submit keydown.down@window->form#submit" }) do |form| %>
      <% @latest_rolls.each do |roll| %>
        <div class="h-full">
          <%= turbo_stream_from dom_id(roll.side.die) %>
          <div id="<%= dom_id(roll.side.die) %>" class="text-gray-900 h-full">
            <%= render partial: "rolls/roll", locals: {roll: roll} %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
<%= tag.div class: "p-8 pt-0 h-full" do %>
  <%= render FrameComponent.new(class: "h-full") do %>
    <%= turbo_stream_from "idea-stream" %>
    <%= render partial: "ideas/idea", locals: { idea: Idea.new(description: "Eine Idee für Berlin"), class: "text-gray-500 w-full text-center" } %>
  <% end %>
<% end %>
