<div class="mt-16 p-8 w-full justify-self-center self-top">
  <% if @latest_rolls.present? %>
    <%= form_with(model: Idea.new, class: "grid grid-cols-3 grid-rows-[auto,auto,minmax(150px,auto)] gap-12", data: { controller: "form", action: "keydown.right@window->form#submit" }) do |form| %>
      <% @latest_rolls.each do |roll| %>
        <div>
          <%= turbo_stream_from dom_id(roll.side.die) %>
          <div id="<%= dom_id(roll.side.die) %>" class="text-gray-900">
            <%= render partial: "rolls/roll", locals: {roll: roll} %>
          </div>
        </div>
      <% end %>
      <%= tag.div class: "col-span-3" do %>
        <%= turbo_stream_from "idea-stream" %>
        <%= render partial: "ideas/idea", locals: { idea: nil } %>
      <% end %>
    <% end %>
  <% end %>
  
</div>
