<%= tag.div id: dom_id(roll) do %>
  <input type="hidden" autocomplete="off" value="<%= roll.id %>" name="idea[roll_ids][]">
  <h2 class="text-xl lg:text-3xl font-normal"><%= roll.side.title %></h2>
  <p class="mt-2 inline-block text-blue-100 font-bold text-xs px-2 py-0.5 bg-blue-400"><%= roll.side.die.shortcode %><%= roll.side.shortcode %></p>
<% end %>
