<!DOCTYPE html>
<html lang="de">
  <head>
    <title>CityLAB Ideenwürfel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen w-full grid grid-rows-[auto,1fr]">
    <%= render "shared/header" %>
    <main class="container mx-auto h-full max-w-screen-2xl grid grid-cols-1 grid-rows-[5fr,7fr] gap-y-12">
      <%= yield %>
    </main>
    <%= render "shared/shutdowns_stream" %>
  </body>
</html>
